<!-- The reason that we're creating this secondary todo folder inside the 
templates directory is because when Django looks for templates inside of 
these apps it will always return the first one that it finds. So by separating 
it into a folder that matches its app name. We can ensure that we're getting 
the right template even if there's another template of the same name in a different app. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Add a Todo Item</h1>
    <form method="POST">
        <!-- crossite request forgery token, it's a randomly generated value -->
        <!-- It works to guarantee that the data is coming from this form and not
        somewhere else. -->
        <!-- as_p tells Django to add paragraph format while rendering form. -->
        {% csrf_token %}
        {{ form.as_p }}
        <div>
            <p>
                <button type="submit">Update</button>
            </p>
        </div>
    </form>
</body>

</html>